html {
    font-family: Helvetica, Arial, serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
}

nav {
    height: 100%;
    margin-bottom: 20px;
    background: #18596D;
    display: flex;
    flex: 1;
    justify-content: left;
}

#nav-ul {
    margin: 0;
    list-style-type: none;
    display: flex;
}

#nav-ul li {
    display: flex;
}

nav a {
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.nav-item a:hover {
    background-color: #FC6620;
    transition: 0.3s;
}

.active {
    background-color: #FC6620;
}

main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#container {
    display: flex;
    flex-direction: column;
}

#file-form, #output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 500px;
}

#output {
    margin: 0;
}

textarea {
    width: 500px;
    height: 200px;
}

.btn {
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px;
}

#csv-file {
    padding: 10px;
}

#data-processor {
    padding: 0 0 10px 0;
    display: flex;
    width: 260px;
    justify-content: space-between;
}

#output-div, #main-output {
    display: flex;
    position: relative;
    flex-direction: inherit;
    align-items: center;
}

textarea {
    width: 300px;
    resize: none !important;
}

#loading-spinner {
    position: absolute;
    display: none;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#download-output {
    display: none;
    position: absolute;
    bottom: 35%;
    left: 100%;
    white-space: nowrap;
}

#tom-shrug{
    width: 1000px;
}