{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Address Grouper WebApp{% endblock %}
{% block content %}
<h1>Address Grouper WebApp</h1>
<h2>Please input the csv in either plain text or via file:</h2>
<div id="container">
    <div id="input-form">
        <form id="file-form" method="post" enctype="multipart/form-data">
            <p>Choose an Option:</p>
            <div id="data-processor">
                <div class="data-option">
                    <input type="radio" id="polars-df" name="processor" value="polars">
                    <label for="polars-df">Polars</label><br>
                </div>
                <div class="data-option">
                    <input type="radio" id="pandas-df" name="processor" value="pandas" checked="checked">
                    <label for="pandas-df">Pandas</label><br>
                </div>
            </div>


            <label for="csv-manual">CSV Manual input</label><textarea name="input-area" form="file-form" class="form-control"
                                                                      id="csv-manual"></textarea>
            <input type="file" id="csv-file" name="address-csv" accept=".csv"/>
            <button class="btn btn-primary" type="submit" name="send-button">Split By Address</button>
        </form>
    </div>
    <div id="output-div" class="hidden">
        <label for="output">Output</label>
        <p id="timer">Time</p>
        <textarea name="input-area" class="form-control" id="output"></textarea>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    document.getElementById('file-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submit action

        // let error = false;

        let formData = new FormData(this);
        let manualInput = formData.get('input-area') ? formData.get('input-area') : null;
        let fileInput = formData.get('address-csv');
        let fileName = fileInput['name'] ? fileInput['name'] : null;

        if (fileInput['size'] > 10000) {
            alert('File too large (> 10 MB). Please choose a smaller file.');
            return
        }

        if (!manualInput && !fileName) {
            alert('Error: No data provided in textbox and no file attached');
            return
        }

        if (manualInput && fileName) {
            alert('Error: Both textbox and file attached. Please select only one source of input');
            return
        }

        fetch('/', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    alert('Invalid csv file!');
                    throw new Error('Invalid csv file!');
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('output').textContent = data['output'];
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
                document.getElementById('output').textContent = 'Error: ' + error.message;
            });


    });
</script>
{% endblock script %}